body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;

    

}
fieldset{
    height: 1px;
    
}
.main{
   height:130%;
   width: 100px;
   border-radius: 20px;
   

}
.gender{

    
}
input{
    border-radius: 7px;
    font-style: oblique;
}
button:hover{
    background-color:wheat;
}


h1{
    color:black;
    text-shadow: 0 0 3px red, 0 0 5px blue;
    font-family:fantasy ;
    
}
p{
    font-style: italic;
    
}
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    font-weight: bold;

}
button{
margin-left: 210px;
padding: 10px;
border-radius: 150px;
width: 150px;
height: 50px;
}
form{
    background: rgb(92,159,203);
    background: linear-gradient(257deg, rgba(92,159,203,1) 0%, rgba(80,159,160,1) 54%, rgba(71,160,49,1) 100%);
    border-radius: 100px;
}
ol{
    background-color:black;
    height:px;
    width:px;
    color: yellow;
    list-style-type: circle;
    
    
}



